#!/usr/bin/env bash
set -ex

PID_FILE=~/.{{item.name}}.pid

function start_emulator()
{
    {{ android_home }}/emulator/emulator -avd {{ item.name }} -no-boot-anim -no-audio -no-window > /dev/null &
    echo "Starting {{item.name}}"
    {{ android_home }}/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 10; done' #need to check good solution for this. Found this on stack-overflow. Wait for the home screen to appear.
    ps -ef | grep {{ item.name }} | grep -v grep | grep -v bash | awk '{ print $2 }' > $PID_FILE
}


function change_settings()
{
    {{ android_home }}/platform-tools/adb shell "settings put global window_animation_scale 0.0 "
    {{ android_home }}/platform-tools/adb shell "settings put global transition_animation_scale 0.0"
    {{ android_home }}/platform-tools/adb shell "settings put global animator_duration_scale 0.0"
    {{ android_home }}/platform-tools/adb shell "settings put secure show_ime_with_hard_keyboard 0"
    {{ android_home }}/platform-tools/adb shell "settings put secure spell_checker_enabled 0"
    {{ android_home }}/platform-tools/adb shell "settings put system time_12_24 12"
}

function reboot_emulator()
{
   {{ android_home }}/platform-tools/adb shell "su 0 am start -a android.intent.action.REBOOT"
   {{ android_home }}/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 10; done' #need to check good solution for this. Found this on stack-overflow. Wait for the home screen to appear.
}

function kill_emulator()
{
    kill -9 $(cat $PID_FILE)
    rm $PID_FILE
}


start_emulator
change_settings
reboot_emulator
kill_emulator