AvdId={{item.name}}
avd.ini.displayname={{item.name}}
PlayStore.enabled=false
abi.type=x86
avd.ini.encoding=UTF-8
hw.accelerometer=yes
hw.audioInput=yes
hw.battery=yes
hw.cpu.arch=x86
hw.dPad=no
hw.device.hash2=MD5:1c925b9117dd9f33c5128dac289a0d68
hw.device.manufacturer=Google
hw.device.name=Nexus 5
hw.gps=yes
hw.lcd.density=480
hw.lcd.height=1920
hw.lcd.width=1080
hw.mainKeys=no
hw.sdCard=yes
hw.sensors.orientation=yes
hw.sensors.proximity=yes
hw.trackBall=no
image.sysdir.1=system-images/android-{{item.api}}/google_apis/x86/
sdcard.size=200M
tag.display=Google APIs
tag.id=google_apis
disk.dataPartition.size=2048M
hw.cpu.ncore={{cpu_cores}}
hw.gpu.enabled=yes
hw.gpu.mode=host
hw.initialOrientation=Portrait
hw.keyboard=yes
hw.ramSize={{item.ram_size}}
vm.heapSize=256
skin.name=1080x1920
skin.path=_no_skin
showDeviceFrame=no
